<app-main-layout>
  <div class="grid md:grid-cols-3 lg:grid-cols-2 h-full divide-y md:divide-y-0 md:divide-x divide-(--divider-color)">
    <div id="main-wrapper" class="relative flex md:col-span-2 lg:col-span-1">
      <app-icon-diamond
        [width]="12"
        [height]="12"
        viewBox="12 0 24 24"
        className="absolute -top-px -right-[6.5px] text-(--divider-color) invisible md:visible rotate-90"
      />
      <app-icon-diamond
        [width]="12"
        [height]="12"
        viewBox="12 0 24 24"
        className="absolute -bottom-px -right-[6.5px] text-(--divider-color) invisible md:visible -rotate-90"
      />
      <app-icon-diamond
        [width]="12"
        [height]="12"
        viewBox="12 0 24 24"
        className="absolute -bottom-[6.5px] -left-px text-(--divider-color) md:invisible"
      />
      <app-icon-diamond
        [width]="12"
        [height]="12"
        viewBox="12 0 24 24"
        className="absolute -bottom-[6.5px] -right-px text-(--divider-color) md:invisible rotate-180"
      />

      <div class="flex flex-col items-center md:items-start justify-center p-10">
        <div class="flex flex-col gap-y-5">
          <div class="flex justify-center md:justify-start">
            <span class="font-mono text-[12px] text-(--txt-color) tracking-wide">DMNCHZL&nbsp;</span>
            <span class="font-mono text-[12px] text-(--txt-color-50) tracking-wide">PRESENTS</span>
          </div>
          <h1 class="text-center md:text-left text-[48px] md:text-[56px] leading-[56px]">The BlockChain Tool</h1>
          <p class="text-center md:text-left text-[18px] text-(--txt-color-50)">
            Enroll your files on the BlockChain and then verify your data to secure your transactions
          </p>
          <div class="flex gap-x-5 justify-center md:justify-start mt-5">
            <app-button variant="primary" (clicked)="goToPublicUpload()">Use Public Chain</app-button>
            <app-button (clicked)="openModalWithConfig()">Have My Own</app-button>
          </div>
        </div>
      </div>
    </div>

    <div class="flex items-center justify-center p-10">
      <app-hero />
    </div>
  </div>

  <app-modal>
    <div class="flex justify-end gap-x-5 mt-5">
      <app-button (clicked)="modalService.close()">Stay Tuned</app-button>
      <!-- <app-button (clicked)="goToPrivateUpload()">Drop My Chain</app-button> -->
    </div>
  </app-modal>
</app-main-layout>
